
.minion{
  width: 400px;
  height: 600px;
 position: fixed; 
  top: 50vh;
  left: 50vw;
  margin-top: -300px;
  margin-left: -200px;
  background-image: url(https://cdn.discordapp.com/attachments/1074085551042469999/1084293102463897671/minion.png);
    background-repeat: no-repeat;
    background-size: contain;
/*   clip-path: circle(31.6% at 49% 52%); 
  z-index: 0;
/*   filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5)); */
}

.wrapper1{
  margin-top: calc(55vh);
  margin-left: 16vw;
  position: absolute;
}

.wrapper2{
  margin-top: calc(55vh);
  margin-left: 66vw;
  position: absolute;
}

.button1 {
  width: 300px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background-color:  #fbe342;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button2.active{
  background-color: grey;
}


.button1:hover {
  background-color: #04a7e9;
  box-shadow: 0px 15px 20px rgba(4, 167, 233, 0.4);
  color: #fff;
  transform: translateY(-7px);
}


.button2 {
  width: 300px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background-color:  #fbe342;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button2:hover {
  background-color: #04a7e9;
  box-shadow: 0px 15px 20px rgba(4, 167, 233, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.linkwrapper {
  margin-top: calc(50vh - 45px);
  margin-left: 10vw;
  font-weight: 600;
  color: black;
  font-size:2vw;
  font-family: 'Courier New', monospace;
  position:absolute;
  z-index:5;
  
}

#link {          
  /* text-align:center; */
  line-height:90px;
  letter-spacing: 0.5vw;
  z-index: 2;
  white-space: nowrap;
}


.bananarain{
  width: 100vw;
  height: 100vh;
  background-image: url(https://cdn.discordapp.com/attachments/1074085551042469999/1084323919022014504/banana-banano.gif);
  display: none;
    z-index:1;
}

.bananarain.active{
  display: block;
}


.kidding{
  width: 480px;
  height: 240px;
   position: fixed; 
  margin-top: calc(50vh - 150px);
  margin-left: 35vw;
  background-image: url(https://cdn.discordapp.com/attachments/1074085551042469999/1084335294586822666/output-onlinegiftools.gif); 
  display: none;
  z-index:10;
}

.kidding.active{
  display: block;
}

.minion.active{
  display: none;
}


.linkwrapper.active{
  display: none;
}



@media screen and (max-width: 1000px) {
.wrapper1{
  top: 90%;
  left: 50%;
  margin-top: -100px;
  margin-left: -135px;
  position: absolute;
}

.wrapper2{
  top: 90%;
  left: 50%;
  margin-top: -40px;
  margin-left: -135px;
  position: absolute;
}
  
  .kidding{
  width: 480px;
  height: 240px;
   position: fixed; 
  margin-top: calc(50vh - 150px);
  margin-left: 22vw;
  background-image: url(https://cdn.discordapp.com/attachments/1074085551042469999/1084335294586822666/output-onlinegiftools.gif); 
  display: none;
  z-index:10;
}

}
